@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px;
  overflow: hidden;
  color: white;
  height: 100%;
  width: 100%;
  font-family: 'Muli', sans-serif;
  font-size: 30px;
}
#chat {
  position: absolute;
  bottom: 0px;
  transition: ease 1s;
}
#message {
  position: relative;
  left: 0px;
  clear: both;
  float: left;
  height: 38px;
}
#begin {
  display: inline-block;
  height: 100%;
  width: 30px;
  background: linear-gradient(90deg, rgba(5, 5, 5, 0), rgba(5, 5, 5, 0.9));
}
#end {
  display: inline-block;
  height: 100%;
  width: 30px;
  background: linear-gradient(90deg, rgba(5, 5, 5, 0.9), rgba(5, 5, 5, 0));
}
#center {
  position: relative;
  display: inline-block;
  height: 100%;
  top: -8px;
  background-color: rgba(5, 5, 5, 0.9);
  padding: 0px 10px 0px 10px;
}
